@model IEnumerable<Web_Tour.Models.LOAI_TOUR>

@{
    ViewBag.Title = "Tours";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";

    ViewBag.group = "Tours";
    ViewBag.active = "TourTypes";
}

@section Head {
    <link href="~/Content/admin/tourtypes.css" rel="stylesheet" />
}

@section NavBar {
    <div class="navbar">
        <a class="new-tour-type" href="/Admin/NewTourType">Tạo Mới</a>
        <p class="tour-type-id" style="padding-right: 95px;">Mã Loại</p>
        <p class="tour-type-name" style="padding-right: 370px;">Tên Loại</p>
    </div>
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="tour-type-container">

        @foreach (var loai in Model)
        {
            <div class="tour-type-item">

                <div class="tour-type-info">
                    <div class="tour-type-details">
                        <div class="tour-type-content">
                            <p class="tour-type-id">@loai.ID_LOAI</p>
                            <p class="tour-type-name">@loai.TEN_LOAI</p>
                        </div>
                    </div>

                    <div class="tour-type-action">

                        <a class="action-item edit" href="@Url.Action("EditTourType", "Admin", new { id = loai.ID_LOAI })">
                            <span>Sửa</span>
                        </a>
                        <a class="action-item delete" href="@Url.Action("DeleteTourType", "Admin", new { id = loai.ID_LOAI })">
                            <span>Xóa</span>
                        </a>

                    </div>

                </div>
            </div>
        }

    </div>

</div>
