@model Web_Tour.Models.DAT_TOUR

@{
    ViewBag.Title = "Đặt Tour Thành Công - " + Model.ID_DAT_TOUR;
    Layout = "~/Views/Shared/LayoutUser.cshtml";

    ViewBag.topBannerUrl = "/Images/tour-booking-banner.jpg";


}

@section Head {
    <link rel="stylesheet" href="~/Content/tour/booking.css">
}

<style>
    .slider-text {
        width: 70%;
    }
</style>

@section OverlayGradientOnBanner {
    <div class="overlay dark-side-image"></div>
}

@section TopBannerContent {
    <div class="container" style="display: flex; justify-content: center;">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">
            <div class="top-banner-content">
                <h1>Đặt Tour Thành Công</h1>
            </div>
        </div>
    </div>
}

<section class="ftco-section">
    <div class="container">

        <div class="row progress-wizard" style="border-bottom: 0; display: flex; justify-content: center;">
            <div class="col-sm-3 col-xs-12 progress-wizard-step  complete">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">1</span>. Chọn dịch vụ
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step  complete">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">2</span>. Thanh toán
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 progress-wizard-step complete ">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="javascript:void(0)" class="progress-wizard-dot">
                    <span style="font-size: 20px">3</span>. Xác nhận
                </a>
            </div>
        </div>
        
        @Html.Action("BookedDetails", "Tour")

    </div>
</section>

